.filters{
    height: auto;
    background-color: rgba(128, 128, 128, 0.205);
    padding: 10px 0 10px 0;
}
.filters>h3{
    font-weight: 200;
    padding-left: 20px;
}

.filter_btn{
    position: absolute;
    top: 21px;
    left: 75px;
    height: auto;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
}

.filter_input{
    display: flex;
    overflow-x: hidden;

}

.filterDisplay{
    padding: 10px;
    overflow-x: hidden;
}
@media (max-width: 768px){
   
    .filter_btn{
        font-size: 10px;
        left: 70px;
    }

}

@media (max-width: 600px){
    .filter_input{
        overflow-x: scroll;
    }
    .filterDisplay{
        padding: 10px;
        overflow-x: scroll;
    }
    .filter_btn{
        font-size: 10px;
        left: 60px;
    }

}