.outlined-input {
  border-radius: 8px;
  font-size: 14px;
  height: 50px;
  width: 150px;
}

.selection {
  border-radius: 60px !important ;
}

@media (max-width: 768px) {
  .outlined-input {
    overflow-x: scroll;
    width: 100px;
  }
}
