*{
  box-sizing: border-box;
  /* background-color: rgba(0, 0, 0, 0.363); */
}

:root{
  --font-size: 15px;
  font-size: var(--font-size);
}
html{
  height: 100%;
  box-sizing: border-box;
}
body {
  box-sizing: inherit;
  position: relative;
  margin: 0;
  min-height: 100%;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Nova Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(128, 128, 128, 0.144);
  margin-top: 95px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 1024px){
  :root{
    --font-size: 12px;
  }
}